<h1><%= @background.bgName %></h1>

<p>Description: <%= @background.bgDesc %></p>

<p>List of characters belong to this race</p>
<ul>
  <% @background.characters.each do |c| %>
    <li>
      <a href="/characters/<%= c.id %>">
        <%= c.charName %>
      </a>
    </li>
  <% end %>
</ul>
