<h1 class="display-1 text-center">Welcome to my Intro To Rail Project!</h1>
<h3>About the site</h3>
<p>This website is base on the Open5e API (https://open5e.com/), which contain data from the
SRD of Dungeon and Dragons fifth edition.</p>
<h3>About the dataset</h3>
<p> In this website, I get the Class, Race, and Background data,
and seed the database with JSON file. Then I use Faker to generate 200 DND characters with the data</p>

<p>You can find the Database ERD below:</p>
<p>Each Character have exactly 1 Class, Race and Background</p>
<p>Each Class, Race or Background can have multiple Characters</p>
<%= image_tag ("Intro_ERD.png", alt: "My ERD") %>
