<h1>List of Characters</h1>

<%= page_entries_info @characters %>
<%= paginate @characters %>

<div class="row">
  <% @characters.each do |c| %>
    <div class="col-6 col-sm-4">
      <a href="/characters/<%= c.id %>">
        <%= c.charName %>
      </a>
    </div>
  <% end %>
</div>
