<h1 class="display-1 text-center">Dungeon and Dragon</h1>

<ul class="list-group list-group-horizontal">
  <li class="list-group-item flex-fill"><a href="/">About this website</a></li>
  <li class="list-group-item flex-fill"><a href="/characters/">Characters</a></li>
  <li class="list-group-item flex-fill"><a href="/dndclasses/">Class</a></li>
  <li class="list-group-item flex-fill"><a href="/races/">Race</a></li>
  <li class="list-group-item flex-fill"><a href="/backgrounds/">Background</a></li>
</ul>