<h1>This is a DND API website</h1>

<ul>
  <li><a href="/">About this website</a></li>
  <li><a href="/characters/">Characters</a></li>
  <li><a href="/dndclasses/">Class</a></li>
  <li><a href="/races/">Race</a></li>
  <li><a href="/backgrounds/">Background</a></li>
</ul>